<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <bean id="add" class="com.navya.Address">
   <property name="state" value="AP"></property>
   <property name="city" value="vijayawada"></property>
   <property name="country" value="india"></property>
   
   </bean>
   
   <bean id="emp" class="com.navya.Employee">
   <!--<property name="eid" value="108"></property>-->
   <property name="ename" value="navya"></property>
   <!--  --><property name="esalary" value="100000"></property>
   <property name="address" ref="add"></property>
   </bean>
   
   </beans>